extends ../_template

block variables
  - var title       = 'Виселица'
  - var description = 'Виселица'
  - var ogtitle     = 'Виселица'
  - var ogimage     = 'assets/img/social.jpg'

block content
  main.main
